@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 700;  /* This range depends on the weights included in the variable font */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;  /* This range depends on the weights included in the variable font */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;  /* This range depends on the weights included in the variable font */
    font-style: normal;
    font-display: swap;
}

:root {
    --md-text-font: "Montserrat"; 
    --md-code-font: "Roboto Mono";
  }

.md-header-title {
    font-weight: 100;
}